header{
    position: relative;
    .header{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            column-gap: 10px;
            position: relative;
            .circle{
                width: 24px;
                height: 24px;
                background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,252,45,0.9527186761229315) 100%);
                border-radius:50%;
            }
            .logotip{
                cursor: pointer;
                font-size: 28px;
                letter-spacing: 2px;
                font-weight: 900;
                color:var(--text-color);
                position: absolute;
                left: 35px;
                transform: rotate(9deg);
                .clr{
                    padding-bottom: 30px;
                    color: #0303ff ;
                }
                .text-gr{
                    background: -webkit-linear-gradient(#f40101e8, #0618e0aa);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        .nav-bar{
            display: flex;
            align-items: center;
            column-gap: 30px;
        }
    }
}