header{
    .mode{
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
    }
    .header{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-bar{
            display: flex;
            align-items: center;
            column-gap: 30px;
        }
    }
}
